<template>
  <div class="home">
    <OpenDialog/>
  </div>
</template>

<script>
// @ is an alias to /src
import OpenDialog from '@/components/OpenDialog.vue'

export default {
  name: 'home',
  components: {
    OpenDialog
  }
}
</script>
