<template>
<div>
  <button v-on:click="openDialog()">Upload File</button>
  
  <div>
    <div v-for="(folder, index) in folders" :key="index">
      <p v-on:click="getImagesFromFolder(pathToTheFolder + '\\' + folder)">{{pathToTheFolder + '\\' + folder}}</p>
    </div>

    <div v-for="(files, index) in filesInFolder" :key="index">
      {{this.filesInFolder}}
    </div>
    <img v-for="(image, key, index) in newArray" :key="index" v-bind:src=image /> 
  </div>
</div>

</template>

<script>
const { app, dialog } = require('electron').remote
import jimp from 'jimp'
import fs from 'fs'
import { ipcRenderer } from 'electron'
import path from 'path'

export default {
  data() {
    return {
      originalImageArray: [],
      resizedImageArray: [],
      folders: [],
      pathToTheFolder: path.join(app.getPath('userData') + "/thumbnails"),
      filesInFolder: [],
      newArray: []
    }
  },
  methods: {
    openDialog() {
      dialog.showOpenDialog({
        properties: ['openFile', 'multiSelections'],
        filters: [
          { name: '*', extensions: ['png', 'jpg', 'gif'] }, 
          { name: '.png', extensions: ['png'] },
          { name: '.jpg', extensions: ['jpg'] },
          { name: '.gif', extensions: ['gif'] }
        ]
      }, function(filepaths) {
        if(filepaths === undefined || filepaths.length == 0) {
          return
        }
        this.originalImageArray = filepaths;
        ipcRenderer.send('send-data-to-main-trigger', this.originalImageArray)
      });
    },
    getImagesFromFolder(location) {
      this.newArray = [];
      var queryFolders = fs.readdir(path.join(location), (err, filess) => {
        for(var f = 0; f < filess.length; f++) {
          this.newArray.push(path.join(location + '\\' + filess[f]));
        }
      });
    },
    queryFolders() {
      fs.readdir(this.pathToTheFolder, (err, files) => {
        this.folders = files;
      });
    }
  },
  mounted() {
    ipcRenderer.on('send-data-to-main-triggered', (event, arg) => {
      this.queryFolders()
    })
    this.queryFolders()
  }
}
</script>
